// 移动端
@media screen and (max-width : 600px) {
    .mc-nav {
        position : static;
        display  : inline-block;
    }
    .mc-nav-switch {
        display : none;
    }
    .mc-nav-switch:checked + .mc-nav-icon {

        &:after {
            border-radius : 30%;
            background    : linear-gradient(45deg, transparent 45%, #454545 45%, #454545 55%, transparent 55%), linear-gradient(-45deg, transparent 45%, #454545 45%, #454545 55%, transparent 55%);
        }

        & + .mc-nav-list {
            height         : 34rem;
            opacity        : 1;
            transition     : all .4s;
            pointer-events : auto;

            & > * {
                opacity    : 1;
                transform  : translate3d(0, 0, 1px);
                transition : all .15s .15s;
            }
        }
    }

    .mc-nav-list {
        position       : absolute;
        line-height    : 4rem;
        min-width      : 150px;
        background     : rgba(10, 10, 10, .85);
        color          : #fff;
        right          : 10px;
        top            : 60px;
        z-index        : 10;
        padding        : 10px;
        text-align     : center;
        border-radius  : 3px;
        opacity        : 0;
        height         : 0;
        pointer-events : none;
        transition     : all .2s .15s;

        &:before {
            content             : "";
            position            : absolute;
            width               : 5px;
            height              : 5px;
            right               : 15px;
            top                 : -10px;
            border              : 5px solid transparent;
            border-bottom-color : rgba(10, 10, 10, .85);
        }

        & > * {
            display    : block;
            opacity    : 0;
            transform  : translate3d(20%, 0, 1px);
            transition : all .15s;
        }
    }
    .mc-nav-icon {
        height  : 100%;
        display : inline-block;
        padding : 0 1em;

        &:after {
            width      : 1em;
            height     : 1em;
            content    : "";
            display    : block;
            background : linear-gradient(0deg, transparent 42%, #454545 0%, #454545 57%, transparent 0%), linear-gradient(90deg, transparent 75%, #fff 76%), linear-gradient(0deg, transparent 10%, #454545 0%, #454545 25%, transparent 0%), linear-gradient(0deg, transparent 75%, #454545 0%, #454545 90%, transparent 0%);
        }
    }
}

// 桌面端
@media screen and (min-width : 601px) {
    .mc-nav {
        position : relative;
        display  : inline-block;
    }
    .mc-nav-switch {
        display : none;
    }
    .mc-nav-list {
        & > * {
            display : inline-block;
            padding : 0 20px;
            cursor  : pointer;

            &:hover, &[data-active="true"] {
                color                   : $co-main;
                -webkit-font-smoothing  : auto;
                -moz-osx-font-smoothing : unset;
            }
        }
    }
    .mc-nav-icon {
        display : none;
    }
}
